



.QuoteCard {
    display: flex;
    padding: 1.25em;
    width: 400px;
    border: 1px solid #f8f8f8;
    border-radius: 2px;
    box-shadow: 1px 8px 8px rgba(0, 0, 0, 0.15);
    font-size: 1.2em;
    margin: 50px auto;
  }
  
  .QuoteCard img {
    display: flex;
    max-height: 200px;
    margin-right: 1.5rem;
  }
  
  .QuoteCard blockquote {
    margin: 0 0 1rem 0;
  }

  .QuoteCard figcaption{
    text-align: left;
  }
  
  button {
    text-align: center;
    background-color: #fecc00;
    border: none;
    padding: 15px 20px;
    text-transform: uppercase;
  }